<h2>Resultados</h2>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Nombre</th>
      <th>Musica</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let persona of personas">
      <td>{{ persona.nombre }}</td>
      <td>{{ persona.musica }}</td>
      <td>{{ persona.email }}</td>
      <td>
        <button (click)="actualizarPersona(persona.id)" class="btn btn-info">
          Editar
        </button>
        <button
          (click)="eliminarPersona(persona.id)"
          class="btn btn-danger"
          style="margin-left: 10px"
        >
          Eliminar
        </button>
        <button
          (click)="verDetallesDePersona(persona.id)"
          class="btn btn-primary"
          style="margin-left: 10px"
        >
          Detalles
        </button>
      </td>
    </tr>
  </tbody>
</table>
